# Manifest
**/manifest.mf

# Build
**/build.xml

# Build path
**/build/*

# NetBeans project folder
**/nbproject/*

# Dist folder
**/dist/*

#Android
**/LightSearch\ Android/LightSearch/*.iml
**/LightSearch\ Android/LightSearch/.gradle
**/LightSearch\ Android/LightSearch/local.properties
**/LightSearch\ Android/LightSearch/.idea/libraries
**/LightSearch\ Android/LightSearch/.idea/modules.xml
**/LightSearch\ Android/LightSearch/.idea/workspace.xml
**/LightSearch\ Android/LightSearch/.DS_Store
**/LightSearch\ Android/LightSearch/build
**/LightSearch\ Android/LightSearch/captures
**/LightSearch\ Android/LightSearch/.externalNativeBuild

#Android: app
**/LightSearch\ Android/LightSearch/app/release/**

#Server: resources
**/LightSearch\ Server/src/main/resources/application.properties

# Idea
**/.idea/*

# Maven target
**/target/*
