input {
    background-color: white;
    background-color: #F2F2F2;
    border-radius: 20px;
    border-style: solid;
    margin-inline-end: 60%;
    text-align: left;
    padding-inline-start: 1%;
    margin-inline-start: 1.4%;
}
